.profile {
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profile__form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.profile__title {
	margin: 0 0 80px;
	text-align: center;
	font-weight: var(--font-weight-500);
	font-size: var(--font-size-24);
	line-height: var(--line-height-29);
}

.profile__fieldset {
	width: 260px;
	padding: 0;
	margin: 0;
	border: none;
	flex-grow: 1;
}

.profile__label {
	height: 15px;
	margin-top: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-weight: var(--font-weight-500);
	font-size: var(--font-size-11);
	line-height: var(--line-height-13);
}
.profile__label:first-child {
	margin: 0;
}

.profile__input {
	text-align: end;
	overflow: hidden;
	flex-grow: 1;
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--text-color);
	font-weight: var(--font-weight-400);
	font-size: var(--font-size-11);
	line-height: var(--line-height-13);
}

.profile__input_error {
}
.profile__error {
	border-bottom: 1px solid var(--border-line);
	height: 15px;
	font-weight: var(--font-weight-400);
	font-size: var(--font-size-11);
	line-height: var(--line-height-13);
	display: block;
	color: var(--red-color);
	height: 12px;
}

.profile__error:last-child {
	border: none;
}
.profile__actions {
	width: 260px;
	position: absolute;
	bottom: 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.profile__actions-text {
	border: none;
	background-color: transparent;
	color: var(--text-color);
	font-weight: var(--font-weight-500);
	font-size: var(--font-size-12);
	line-height: var(--line-height-15);
}

.profile__actions-text:hover {
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s;
}
.profile__edit {
	font-weight: var(--font-weight-400);
}

.profile__edit_disabled {
	color: var(--text-color-opacity);
}
.profile__edit_disabled:hover {
	cursor: auto;
	opacity: 1;
}
.profile__logout {
	color: var(--red-color);
}

@media screen and (min-width: 768px) {
	.profile {
		padding-top: 236px;
	}
	.profile__fieldset {
		width: 410px;
	}
}
@media screen and (min-width: 1280px) {
	.profile {
		padding-top: 74px;
	}
}
