:root {
	/* <----------------- COLORS -----------------> */
	--main-bg-color: #202020;
	--second-bg-color: #272727;
	--promo-bg-color: #073042;
	--box-color: #303030;
	--green-color: #3ddc84;
	--border-line: #424242;
	--border-line-heading: #dadada;

	--text-color: #ffffff;
	--text-color-dark: #000;
	--text-color-opacity: #8b8b8b;

	--movieCards-button-color: #313131;
	--blue-color: #4285f4;
	--red-color: #ee3465;

	/* <----------------- FONTS -----------------> */
	/* --------FONT-SIZE-------- */
	--font-size-140: 140px;
	--font-size-80: 80px;
	--font-size-50: 50px;
	--font-size-40: 40px;
	--font-size-31: 31px;
	--font-size-30: 30px;
	--font-size-28: 28px;
	--font-size-24: 24px;
	--font-size-22: 22px;
	--font-size-20: 20px;
	--font-size-18: 18px;
	--font-size-15: 15px;
	--font-size-14: 14px;
	--font-size-13: 13px;
	--font-size-12: 12px;
	--font-size-11: 11px;
	--font-size-10: 10px;

	/* --------FONT-WEIGHT-------- */
	--font-weight-500: 500;
	--font-weight-400: 400;

	/* --------LINE-HEIGHT-------- */
	--line-height-169: 169px;
	--line-height-97: 97px;
	--line-height-58: 58px;
	--line-height-50: 50px;
	--line-height-52: 52px;
	--line-height-40: 40px;
	--line-height-36: 36px;
	--line-height-29: 29px;
	--line-height-28: 28px;
	--line-height-27: 27px;
	--line-height-24: 24px;
	--line-height-22: 22px;
	--line-height-20: 20px;
	--line-height-18: 18px;
	--line-height-17: 17px;
	--line-height-16: 16px;
	--line-height-15: 15px;
	--line-height-13: 13px;

	/* --------FONT-HEIGHT-------- */
	--letter-spacing-default: -0.04em;

	/* --------MARGIN-------- */
	--mg-0: 0;
}

body {
	margin: 0 auto;
	max-width: 1280px;
	box-sizing: border-box;
	background-color: var(--main-bg-color);
	color: var(--text-color);
	height: 100vh;
	font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.green {
	background-color: var(--green-color);
	color: var(--text-color-dark);
}

.opacity {
	color: var(--text-color-opacity);
}

.link {
	text-decoration: none;
	color: var(--text-color);
}

.heading {
	margin: 0 0 70px 0;
	padding-bottom: 23px;
	border-bottom: 1px solid var(--border-line-heading);
	font-size: var(--font-size-22);
	line-height: var(--line-height-27);
	font-weight: var(--font-weight-400);
	letter-spacing: var(--letter-spacing-default);
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
	.heading {
		padding-bottom: 28px;
		margin: 0 0 60px 0;
		font-size: var(--font-size-18);
		line-height: var(--line-height-22);
	}
}
